.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-primary);
}

.section-left, .section-center, .section-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.icon {
  margin: 12px;
}