/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Quicksand;
  src: url("assets/fonts/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}

html, body { height: 100%; }
body { margin: 0; }
* {
  font-family: Quicksand;  
  margin: 0px;
  padding: 0px;
}


.light-theme {
  --background-primary: #FFF;
    --background-secondary: #FAFAFA;
    /*--background-secondary: #FCFCFC;*/
    --background-tertiary: #F3F3F3;
    --background-accent: #1e88e5;

    --separator: #DDD;

    --text-primary: #444;
    --text-secondary: #666;
    --text-accent: #EEE;

    --icon-opacity: 0.8;
}

.dark-theme {
  --background-tertiary: #444;
  --foreground-primary: #EEE;
  --foreground-secondary: #DDD;
  --foreground-tertiary: #CCC;
  --accent: rgb(0, 150, 219);

  --background-primary: #181818;
  --background-secondary: #222;
  /*--background-secondary: #1E1E1E;*/
  --background-tertiary: #333;
}

* {
  background-color: transparent;
  color: var(--foreground-primary);
}

body {
  background-color: var(--background-primary);
}